<div style="width: 100%;" class="post" data-id="<%= post.id %>">
  <table style="border: hidden">
    <tr>
      <td><%= image_tag post.image.thumb.url %></td>
      <td>
        <h3><%= link_to post.title, post %></h3>
        <label style="font-size: x-small">Comments: <%= post.comments.count %></label>
        <label style="font-size: x-small"><%= "Posted " + time_ago_in_words(post.created_at) + " ago"%></label><label style="font-weight: bold; font-size: x-small"> by <%=post.user.login%></label><br/>
      </td>
    </tr>
  </table>
</div>