<div class="row">
  <h1><%= @post.title %></h1>
  <label style="font-size: x-small; font-weight: bold">by <%= link_to @post.user.login, user_path(@post.user) %></label> <br>
  <%= image_tag @post.image.normal.url %>
  <p>
    <%= @post.body %>
  </p>
  <% if user_signed_in? && PostsPolicy.new(current_user, @post).access? %>
      <%= link_to 'Edit', edit_post_path(@post), style:"font-size: small" %> |
      <%= link_to "Delete post", @post, method: :delete, data: { confirm: 'Are you sure?' }, style:"font-size: small" %> |
  <% end %>
  <%= link_to 'Back', posts_path, style:"font-size: small" %>

  <h3>Comments</h3>
  <div class="newcomment">
    <%= render 'comments/form' %>
  </div>
  <div class="comments">
    <% @comments.sort.each do |comment| %>
        <%= render comment %> <br/>
    <% end %>
  </div>
</div>